<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UtilLib.SettingsFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UtilLib.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UtilLib.SettingsFile>
            <setting name="DisconnectIntervalMin" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DisconnectIntervalMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DisconnectButtonPosX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DisconnectButtonPosY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DisablePrivilegeWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDisconnectButton" serializeAs="String">
                <value>True</value>
            </setting>
        </UtilLib.SettingsFile>
        <UtilLib.Settings>
            <setting name="DisconnectIntervalMin" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DisconnectIntervalMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CloseButtonPosX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CloseButtonPosY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DisablePrivilageWarning" serializeAs="String">
                <value>False</value>
            </setting>
        </UtilLib.Settings>
    </userSettings>
</configuration>